@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --background: #2c3e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#quote-box {
  height: auto;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#text {
  color: var(--background);
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: capitalize;
}

#author {
  color: var(--background);
  text-align: right;
  margin: 1rem auto;
  width: 100%;
  display: block;
}

#share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 2rem;
}

#new-quote button {
  display: block;
  border: none;
  background-color: var(--background);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.fa-quote-left {
  margin-right: 10px;
}

.fa-twitter {
  color: var(--background);
  font-size: 2.2rem;
}
